@import "legal-document.css";
@namespace xml "http://www.w3.org/XML/1998/namespace";

section > item:before{
    content :
      counter(section) "." counter(item-counter) ". "
      oxy_textfield(
            edit, "@xml:id",
            columns, 20) !important;
} 

list > item:before{
    content :
      oxy_textfield(
            edit, "@xml:id",
            columns, 20) !important;
} 

section:before{
    content :
      oxy_textfield(
            edit, "@xml:id",
            columns, 40)!important;
} 

addendum:before{
    content :
      oxy_textfield(
            edit, "@xml:id",
            columns, 40)!important;
} 
important:before{
    content :
      oxy_textfield(
            edit, "@xml:id",
            columns, 40)!important;
}


ref[refId] {
  content : oxy_combobox(
            edit, "@refId",
            columns, 20);
}

ref {
  content : oxy_combobox(
            edit, "@refId",
            columns, 20);
}